// configuration for google pipeline API debug 
docker {
    enabled = true
}

process {
    executor = 'google-lifesciences'
    container = 'northwesternmti/nemascan:0.31'
}

google {
  project = 'andersen-lab'
  zone = 'us-central1-a'
  lifeSciences {
    serviceAccountEmail = 'nscalc-201573431837@andersen-lab.iam.gserviceaccount.com'
    debug = true
    preemptible = true
  }
}

executor {
    queueSize = 500
}

// params
params {
  help = false
  debug = false

  e_mem = "10"
  eigen_mem = "10 GB"
  species = "elegans"
  wbb = "WS276"

  sparse_cut = 0.01
  group_qtl = 1000
  ci_size = 150
  sthresh = "BF"
  p3d = "TRUE"
  maf = 0.05
  freqUpper = 0.05
  minburden = 2

  date = new Date().format( 'yyyyMMdd' )


  data_dir = "gs://nf-pipelines/NemaScan/input_data/elegans"
  bin_dir = "gs://nf-pipelines/NemaScan/bin"
  vcf = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.hard-filter.isotype.vcf.gz"
  vcf_index = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.hard-filter.isotype.vcf.gz.tbi"
  impute_vcf = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.impute.isotype.vcf.gz"
  impute_vcf_index = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.impute.isotype.vcf.gz.tbi"
  ann_file = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.strain-annotation.bcsq.tsv"
  isotype_file = "gs://nf-pipelines/NemaScan/input_data/elegans/isotypes/strain_isotype_lookup.tsv"
  numeric_chrom = "gs://nf-pipelines/NemaScan/input_data/all_species/rename_chromosomes"
  refflat = "gs://nf-pipelines/NemaScan/input_data/elegans/annotations/c_elegans_WS276_refFlat.txt"
  genes = "gs://nf-pipelines/NemaScan/bin/gene_ref_flat.Rda"
  
  // thresholds 
  cores = 4

  // mappings
  maps       = "RUN"
  simulate   = null
  lmm_exact  = "RUN"
  lmm        = "RUN"
  sparse_cut = 0.05
  maf        = 0.05
  R_libpath  = ""
  simulate_qtlloc = null
  annotate = null
} 

workDir = 'gs://nf-pipelines/workdir/'
