nextflowVersion = '21.05.0-edge'

import java.time.*
Date now = new Date()

docker {
  enabled = true
}

process {
  executor = 'google-lifesciences'
  container = 'andersenlab/nemascan:v0.3'
  machineType = 'n1-standard-4'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  maxRetries = 3
  cache = 'deep'
}

google {
  project = 'andersen-lab'
  zone = 'us-central1-a'
  lifeSciences {
    serviceAccountEmail = 'nscalc-201573431837@andersen-lab.iam.gserviceaccount.com'
    debug = true
    preemptible = true
  }
}

executor {
  queueSize = 500
  submitRateLimit = 5
}

workDir = 'gs://nf-pipelines/workdir'
projectDir = 'gs://nf-pipelines/projectdir'
outDir = 'gs://nf-pipelines/output'

species     = "elegans"
wbb         = "WS276"

// params
params {
  debug = true

  date = new Date().format( 'yyyyMMdd' )
  day = now.format("yyyMMdd")
  timestamp = now.format("yyyyMMdd-HH-mm-ss")
  
  out = "${outDir}/Analysis_Results-${date}"
  tracedir = "${outDir}/trace-${date}"
  data_dir    = "${projectDir}/input_data/${species}"
  numeric_chrom = "${projectDir}/input_data/all_species/rename_chromosomes"
  refflat   = "${data_dir}/annotations/c_${species}_${wbb}_refFlat.txt"
  genes     = "${projectDir}/bin/gene_ref_flat.Rda"


  vcf = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.hard-filter.isotype.vcf.gz"
  vcf_index = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.hard-filter.isotype.vcf.gz.tbi"
  impute_vcf = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.impute.isotype.vcf.gz"
  impute_vcf_index = "gs://elegansvariation.org/releases/20210121/variation/WI.20210121.impute.isotype.vcf.gz.tbi"


  // thresholds 
  cores = 4

  // mappings
  maps       = "RUN"
  simulate   = null
  lmm_exact  = "RUN"
  lmm        = "RUN"
  sparse_cut = 0.05
  maf        = 0.05
  R_libpath   = ""

  annotate = null
  simulate_qtlloc = null

  help = null
  e_mem = "10"
  eigen_mem = "10 GB"

  sparse_cut  = 0.01
  group_qtl   = 1000
  ci_size     = 150
  sthresh     = "BF"
  p3d         = "TRUE"
  maf         = 0.05

  freqUpper = 0.05
  minburden = 2
} 

report {
  enabled = true
  file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
  enabled = true
  file = "${params.tracedir}/${params.timestamp}_timeline.html"
}